# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Proyecto_Vacunacion.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\noe\RiderProjects\Proyecto_Vacunacion\.idea\.idea.Proyecto_Vacunacion\.idea/dataSources/
/dataSources.local.xml
